div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    color: darkslategrey;
    font-weight: bolder;
}

a:hover {
    color: darkred;
}

h3 {
    text-decoration: underline;
}

h4 {
    color: white;
}

.skills_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.skills_container > div {
    background: #2c2c6c;
    padding: 2.4rem 5rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: all 400ms ease;
}

.skills_container > div:hover {
    background: transparent;
    border-color: rgba(77, 255, 228, 0.4);
    cursor: default;
}

/* Medium sized screens */
@media screen and (max-width: 1024px) {
 .skills_container {
    gap: 1.5rem;
 }
}

/* Small sized screens */
@media screen and (max-width: 600px) {
    .skills_container {
        grid-template-columns: 1fr;
        gap: 1.5rem;
     }
}

/* X-Small sized screens */
@media screen and (max-width: 400px) {
    .skills_container {
        grid-template-columns: 1fr;
        gap: 1.5rem;
     }
}