.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-left: 5rem;
    margin-right: 5rem;
}

 .about_image {
    width: 25rem;
    height: 30rem;
    border-radius: 2rem 2rem 2rem 2rem;
    border-style: groove;
    border-width: 0.25rem;
    border-color: #4dffe4;
    box-shadow: 5px 3px 15px 3px lightgrey;
 }

 .me {
    margin: 4rem;
    overflow: hidden;
    padding: 1rem 1.5rem;
 }