header {
    padding: 20px;
    border: 5px;
    border-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    height: 100%;
    position: relative;

};

h1 {
    
};

/* Medium sized screens */
@media screen and (max-width: 1024px) {

};

/* Small sized screens */
@media screen and (max-width: 600px) {

};

/* X-Small sized screens */
@media screen and (max-width: 400px) {

};