h1 {
    text-align: center;
    height: 100%;
    position: relative;
}

/* Medium sized screens */
@media screen and (max-width: 1024px) {

};

/* Small sized screens */
@media screen and (max-width: 600px) {

};

/* X-Small sized screens */
@media screen and (max-width: 400px) {

};