@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

main {
  margin: 0 auto;
  max-width: 90%;
  padding: 1rem 1rem;
}

body {
  margin: 5rem;
  font-family: "Poppins", sans-serif;
  color: #4dffe4;
  background-color: #1f1f38;
  background-image: url(../src/assets/bg-texture.png);
}

.container {
  width: 75%;
  margin: 0 auto;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 1.8rem;
}

section {
  margin-top: 8rem;
}

a {
  color: #4dffe4;
  transition: all 400ms ease;
}

a:hover {
  color: white;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: center;
  padding: 5px;
  gap: 3rem;
  cursor: pointer;
}

.btn {
  width: max-content;
  display: inline-block;
  color: #4dffe4;
  padding: 0.75rem 1.2rem;
  border-radius: 0.4rem;
  cursor: pointer;
  border: 1px solid #4dffe4;
  transition: all 400ms ease;
}

.btn:hover {
  background: white;
  color: #1f1f38;
  border-color: transparent;
}

.btn-primary {
  background: #4dffe4;
  color: #1f1f38;
}

img {
  display: block;
  width: 100%;
  object-fit: cover;
}

/* Medium sized screens */
@media screen and (max-width: 1024px) {
  .container {
    width: 86%;
  }

  section {
    margin-top: 6rem;
  }
}

/* Small sized screens */
@media screen and (max-width: 600px) {
  .container {
    width: 90%;
  }

  section {
    margin-top: 4rem;
  }
}

/* X-Small sized screens */
@media screen and (max-width: 400px) {
  .container {
    width: 94%;
  }

  section {
    margin-top: 2rem;
  }
}