@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  color: #4dffe4;
  background-color: #1f1f38;
  background-image: url(../src/assets/bg-texture.png);
};

h1 {
  font-size: 2.5rem;
};

a {
  color: #4dffe4;
  transition: all 400ms ease;
};

a:hover {
  color: white;
};

.btn {
  width: max-content;
  display: inline-block;
  color: #4dffe4;
  padding: 0.75rem 1.2rem;
  border-radius: 0.4rem;
  cursor: pointer;
  border: 1px solid #4dffe4;
  transition: all 400ms ease;
};

.btn:hover {
  background: white;
  color: #1f1f38;
  border-color: transparent;
};

.btn-primary {
  background: #4dffe4;
  color: #1f1f38;
};

img {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  height: 350px;
};